<h1>New Fine</h1>

<form method="post" action="/fines">
    <div>
        <label>Title</label>
    </div>
    <div>
        <input type="text" name="title" />
    </div>
    <div>
        <label>Body</label>
    </div>
    <div>
        <input type="text" name="body" />
    </div>
    <div>
        <label>Amount</label>
    </div>
    <div>
        <input type="text" name="amount" />
    </div>
    <div>
        <label>Person</label>
    </div>
    <div>
        <select name="person">
            <option value="matt">Matt</option>
            <option value="mark">Mark</option>
            <option value="luke">Luke</option>
        </select>
    </div>

    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>